.main{
    width: 60%;
    margin: auto;
    color: orange;
    text-align: center;
    margin-bottom: 3rem;
}
.body{
    height: 75vh;
}
.image{
    width: 60%;
    height: 60%;
}

.anchor2{
    color:#55D8C1;
    text-decoration: none;
}


.anchor2:hover{
    color: black;
}